.test-tmp/
.uv-cache/
.tooling/
.ruff_cache/
.tools/
.uv-chache/
tmp/
test-clients/
.sources/LegacyInterface.Check/bin/Release/net8.0/osu.Game.Resources.dll
.sources/SomsAi.Load.Check/out/osu.Game.Resources.dll